body{
    display:flex;
    flex-direction: table-column;
    font-size: .7rem;
}
aside{
    text-align: right;
    margin-left: 200px;
}
h2 .my-name{
   border: 2rem;
   border:1.2em;
   display:flex;
   align-self: baseline;
   font-size: 100%;
   font-family: cursive; 
  }