@charset "utf-8";
:root{
  --Gainsboro: gainsboro;
  --Greengrey:darkslategray;

}
body {
	background-color: lemonchiffon;
	margin: 0px;
}

h2{
	font-family: 'redressed';
	font-size: 1.6em;
}

header{
	background-color: var(--Greengrey);
	max-height: 80px;
}


header li {
	display: inline;
	float:right;
	padding: 20px;
}
header a {
	color: var(--Gainsboro);
	font-size: 2em;
	font-family: 'redressed';
	text-decoration: none;
}
header a:hover {
	color: #FFFFFF;
	text-decoration:underline;
}

.my-name{
	padding: 20px;
	font-family: 'redressed';
	color:var(--Gainsboro);
	font-size: 3em;
}

.green{
	background-color: #5c9393;
}

/*---------- Flexbox stuff ----------*/
.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
	min-height: 100px;
	
}

.flex-items:nth-child(1) {
  display: block;
  width: 25%;
}

.flex-items:nth-child(2) {
  display: block;
  width: 75%;
}
		
.flex-single {
	display: block;
	width:100%;
	padding:20px 20px 10px 20px;
}
		
.flex-double {
	display: block;
	width:50%;
	
}
.flex-double:nth-child(1) {
  padding:10px 10px 10px 20px;
}

.flex-double:nth-child(2) {
  padding:10px 20px 10px 10px;
}


.flex-double img, .flex-single img{
	width: 100%; 
	height:auto;
}

/*---------- Hero section and side ----------*/
.hero{
	padding: 0px !important;
}

.hero img{
	width: 100%; height:300px !important;
}

.hero-title:hover {
  transform: scale(1.5);
}

.hero-title {
	position: absolute;
	bottom: 20%;
	padding: 20px;
	min-width: 30%;
	border: var(--Gainsboro);
 	border-style: solid;
	background-color: var(--Gainsboro);
	color: var(--Greengrey);
	right: 0px;
}

.hero-image {
	transition: .5s ease;
}
		
.line{
	border-right: 2px solid var(--Greengrey);
}
		
.title{
	padding: 10px 20px 0 0 ; 
	text-align: right; 
	font-weight: bold;
	color:var(--Greengrey);
}

/*---------- Skills boxes ----------*/
.box{
	position: relative;
}	

.box-title {
	position: absolute;
	bottom: 20%;
	padding: 20px;
	min-width: 30%;
	background-color:var(--Greengrey);
	color: var(--Gainsboro);
	font-size:1.4em;
	font-family: 'redressed';
}

.box-image {
	transition: .5s ease;
	border: 4px solid var(--Greengrey);
}		
		
.box-image:hover{
	opacity: 0.3;
	filter: alpha(opacity=50);
}	

.subtitle {
	font-size: 0.7em;
	font-weight: normal;
	font-family: initial;
}
.spacer{
	padding:10px 0;
}

.footer-references ul{
	display: flex;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
}

.footer-references li{
	display: block;
    flex: 0 1 auto; /* Default */
    list-style-type: none;
}

.footer-references{
	padding: 20px;
	font-size: 1.5em;
	font-family: 'redressed';
}

.footer-references a{
	color: var(--Greengrey);
}


				
@media screen and (max-width: 768px)
{
	.flex-container {
	flex-wrap: wrap;
	}
	.flex-items:nth-child(1) {
	  width: 100%;
	}

	.flex-items:nth-child(2) {
	  width: 100%;
	}
	
	.flex-double {
	width:100%;
	}
	.flex-double:nth-child(1) {
  padding:10px;
	}

	.flex-double:nth-child(2) {
	  padding:10px;
	}
	.title{
		text-align: left;
		padding: 10px 20px 0 15px;
	}
	.footer-references ul{
		display:block;
	}
	.line {
	border-right: none;
		border-left: 2px solid var(--Greengrey);
}
}

@media screen and (max-width: 576px)
{
	.flex-container {
	flex-wrap: wrap;
	}
	.flex-items:nth-child(1) {
	  width: 100%;
	}

	.flex-items:nth-child(2) {
	  width: 100%;
	}
	
	.flex-double {
	width:100%;
	}
}
